.allElements {
    font-family: Georgia, serif;
}
.header {
    padding: 1px 25px;
    background: #555;
    color: #f1f1f1;
}
.header a {
    display: inline;
    color: #f1f1f1;
    text-decoration: none;
}

.content {
    padding: 14px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}

.pageContent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-bottom: 5px;
    width: 500px;
}
.Area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: 12px 20px;
    height: 50px;
    width: 345px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-bottom: 5px;
}

.inputArea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: 12px 20px;
    height: 20px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-bottom: 5px;
}

.submitButton {
    background-color: #555;
    border: 2px solid black;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}

#inputCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inputLogIn {
    float:right;margin:0 79px;
}

.headerCreation {
    text-align: center;
}
p.registerLink {
    font-size: 16px;
    margin-left: 79px;
}

#linkToMain {
    text-align: right;
    margin-right: auto;
}

#deleteButton {
    margin-left: 25%;
    margin-top: 15px;
}

#findByID {
    display: inline;
    margin-left: 25%;
}

.findBy {
    width: 10%;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-top: 12px;
}

#myTable {
    table-layout: fixed;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: 25%;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
    overflow:hidden;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header2, #myTable tr:hover {
    background-color: #f1f1f1;
}

.welcomeHeader {
    text-align: center;
    font-size: 18px;
}

.pageCenter {
    text-align: center;
}

.projectNameHeader {
    text-align: center;
    font-size: 32px;
}

.withoutHeadersContainer {
    width: 95%;
    display:block;
    margin-left: auto;
    margin-right: auto;

}
.descriptionZone {
    border: 3px solid black;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 10px 10px;;
    margin-bottom: 10px;
    word-break: break-all;
}

.projectDescriptionHeader {
    text-align:center;
    font-size: 18px;
    font-weight: bold;
}

.ticketTableZone {
    border: 3px solid black;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 10px 10px;
}
.ticketHeader {
    text-align:center;
    font-size: 18px;
    font-weight: bold;
}

.ticketsTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

.ticketsTable th, .ticketsTable td {
    padding: 12px;
}

.ticketsTable tr {
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#ticketTableHeader {
    background-color: #555;
    text-align: left;
}

.col_1 {
    text-align: center;
    font-weight: bold;
    border: 1px solid #ddd;
    width: 10%;
}

#dateContainer {
    font-size: 14px;
    text-decoration: underline;
    margin-left: auto;
}

#idContainer {
    font-size: 14px;
}

#contentContainer {
    vertical-align: top;
    height: 150px;
    word-break: break-all;
}

.tagsLine {
    display: inline-block;
    font-size: 14px;
    word-break: break-all;
}

#myInput {
    width: 20%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 25%;
}

.ticketContentField {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: 12px 20px;
    height: 200px;
    width: 350px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    resize: none;
}

#descriptionArea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width: 300px;
    padding: 12px 20px;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-bottom: 5px;
}

.addTicketZone {
    display: block;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin: 15px auto 5px;
    width: 48%;
}

.selectCenter {
    display: inline;
    margin-left: 30%
}

.buttonCenter {
    display: inline;
}

#addTagField {
    margin-left: 25%;
    margin-top: 10px;
    display: inline;
}

#tagSign {
    font-size: 14px;
    display: inline;
}

#tagSelection {
    border-color: black;
    border-width: 3px;
    width: 300px;
    height: 50px;
    background-color: #dddddd;
    font-size: 18px;
    padding: 2px;
    margin-top: 15px;
}

.addTicketZoneHeader {
    text-align:center;
    font-size: 18px;
    font-weight: bold;
}
#toPrevPageButton {
    margin-left: 66%;
    margin-top: 15px;
}


